/* Common Styles */
.body {
  margin: 0px;
}
.container {
  padding-bottom: 10px;
  margin-bottom: 30px;
  /* border: 2px solid black; */
}
/* Navbar */
.nav-link:hover {
  transform: scale(0.9);
  color: yellow;
}
#logo{
  width: 30%;
  margin-left: 0px;
}
.hover-animation {
	transition: transform 0.3s;
  }
  
  .hover-animation:hover {
	transform: scale(1.1);
  }
  
body {
	font-family: "Helvetica", Sans-Serif;
	background-image: url("img/Green-University.png");
  }
.container {
	margin: 0 auto;
	max-width: 600px;
	padding: 20px;
}
.form-group {
	margin-bottom: 10px;
}
textarea {
	width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    display: block;
    margin: 10px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: relative;
}

.gallery-item img {
    max-width: 100%;
    transition: all .3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.2);
    opacity: 0.7;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Social Media Icon  */
/* Style all font awesome icons */
.social-icon-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-icon {
  margin: 0px 5px;
  padding: 10px;
  width: 40px;
  height: 40px;
  background: #00cc59;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon .fa {
  color: white;
  font-size: 15px;
}

/* Hover Dffect */
.social-icon:hover > .fa-facebook {
  color: #4267b2;
  text-decoration: none;
}
.social-icon:hover > .fa-twitter {
  color: #1da1f2;
  text-decoration: none;
}
.social-icon:hover > .fa-linkedin {
  color: #0e76a8;
  text-decoration: none;
}
.social-icon:hover > .fa-instagram {
  color: #da2f69;
  text-decoration: none;
}
.footer a {
  color: black;
  text-decoration: none;
}
.footer p {
  margin: 0px;
}

/* Footer  */
footer {
  text-align: center;
}
.container footer{
  background-color: rgb(252, 252, 252);
}
.footer_section{
  background-color: rgb(252, 252, 252);
}